.signup,.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-block: 25px;
    background-color: rgb(38, 119, 92);
}
span{
    color: rgb(7, 7, 146);
    /* text-decoration: underline; */
    font-style: italic;
    cursor: pointer;
}
button{
    background-color: rgb(2, 2, 66);
    color: white;
    font-size: 1rem;
    padding-inline: 10px;
    padding-block: 5px;
    margin-top: 5px;
}